		<section class='main-section'>
			<div class="container">
				<div class="row">
					<div class="about-descr">
						<div class="col-md-4">
							<div class="about-img">
								<img src="img/3.jpg" alt="">
							</div>
							<div class="about-content">
								<h4>Нонг Хай Дінь</h4>
								<p>Облік даних і формування звітів БД.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="about-img">
								<img src="img/24.jpg" alt="">
							</div>
							<div class="about-content">
								<h4>Заремська Марина Вікторівна</h4>
								<p>Розрахунок скидів забруднюючих речовин у воду</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="about-img">
								<img src="img/25.jpg" alt="">
							</div>
							<div class="about-content">
								<h4>Дудник Олександр В'ячеславович</h4>
								<p>Візуалізація результатів скидів забруднюючих речовин у воду та привязка карт.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>