<div class='container'>
	<div class='grafs-btn'>
		<a class = 'btn btn-primary' ng-click='changeElement("nitrogenAmmonia")'>Амонійний азот</a>
		<a class = 'btn btn-primary' ng-click='changeElement("phosphates")'>Фосфати</a>
		<a class = 'btn btn-primary' ng-click='changeElement("oil")'>Нафтопродукти</a>
		<a class = 'btn btn-primary' ng-click='changeElement("others")'>Інші</a>
	</div>
	<div  class='grafs-btn'>
		<label>
			<p>Показати:</p>
			<input type='month' ng-model='fromData' name='fromData' required>
		</label>
		<label>
			<p>-</p>
			<input type='month' ng-model='toData' name='toData' required>
		</label>
		<a class = 'btn btn-primary' ng-click='changeElement()'>Показати</a>
	</div>
	<div id="curve_chart" style="width:100%; height: 500px"></div>
</div>